
:root{
  --dark:rgb(43, 71, 100);
}
body{
  background-color: rgb(219, 200, 200)
}

h2{
  font-family: Optima,
    sans-serif;;
}


header{
  text-align: center;
  color: var(--dark)
}

header img{
  width: 200px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.work{
  display: flex;
  justify-content: center;
}

.project-1{
  background-color: rgb(148, 93, 148);
}

.project-2{
  background-color: lightblue;
}

.project-3{
  background-color: rgb(157, 207, 157);
}

#contact-me{
  background-color: rgb(228, 182, 219);
}
#contact-me img{
  width: 50px;
  margin-right: 20px;
}