
:root{
  --dark:rgb(43, 71, 100);
  --pink: rgb(242, 227, 239);
  --transform: scale(1.04);
  --font: Optima,
    sans-serif;
  --shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

body{
  background-color: rgb(235, 217, 235)
}

nav{
  background-color:var(--pink) ;
}

nav a:hover{
transform: var(--transform);
text-decoration: underline;
font-weight: bold;
font-family: var(--font);
}

h2{
  font-family: Optima,
    sans-serif;
}


header{
  text-align: center;
  color: var(--dark)
}

header img{
  width: 200px;
  box-shadow: var(--shadow);
}

.work{
  display: flex;
  justify-content: center;
}

.project-1{
  background-color: rgb(148, 93, 148);
}

.project-2{
  background-color: lightblue;
}

.project-3{
  background-color: rgb(157, 207, 157);
}

#contact-me{
  background-color: var(--pink);
}
#contact-me img{
  width: 50px;
  margin-right: 20px;
}

.btn:hover, footer img:hover, #contact-me img:hover, .card:hover {
  transform: scale(1.04);
  box-shadow: var(--shadow);
}


#projects img {
  height: 80%;
}

#my-skills img:hover{
box-shadow: var(--shadow);
}

footer{
  font-family: var(--font);
  font-size: 20px;
}
footer img{
  width: 40px;
}

.link:hover{
  color: rgb(125, 41, 131);
  font-weight: bold;
}



